body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#namecreator {
    display: flex;
    flex-direction: column;
    align-items: center;
}